.wrapperRelatedVideo {
  width: 36%;
  height: 526px;
}
.relatedItem {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background: #2c2c2c;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    .imgRelatedMovie {
      transform: scale(1.1);
      transition: transform 0.5s linear;
    }
    .playRelatedIcon {
      color: rgb(179 178 178);
    }
    .titleRelatedMovie {
      opacity: 0.8;
    }
  }
}
.imgRelatedMovie {
  width: 168px;
  height: 94px;
}
.wrapperImgRelatedMovie {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.titleRelatedMovie {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
  width: 62%;
}
.playRelatedIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(147 147 147);
  font-size: 30px;
  transform: translate(-50%, -50%);
}
